<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div th:switch="${publishers}" class="container">
        <h2>Publishers</h2>
        <div class="pull-right">
            <a href="/add" class="btn btn-success" style="background-color: #07294e"><i class="fa fa-plus"></i> ADD </a>
        </div>
        <div th:case="*">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="publisher : ${publishers}">
                    <td th:text="${publisher.name}"></td>
                    <td th:text="${publisher.email}"></td>
                    <td th:text="${publisher.address}"></td>
                    <td><a th:href="@{/edit/{id}(id=${publisher.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${publisher.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ul class="pagination pagination-sm">
                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number}' th:href="@{/home2(page=${i},size=${page.size})}">
                        <span th:text='${i+1}'></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>